# Dataanalys av Norges OS-historia

### Läs in filen:

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from pathlib import Path

print("Reading file...")
olympics_csv = next(Path.cwd().parent.rglob("olympics_clean.csv"), None)

if olympics_csv:
    olympics = pd.read_csv(olympics_csv)
    print("file found.")
else:
    print("file not found.")

Reading file...
file found.

## Uppgift 0:

### Head:

In [19]:
olympics.head(10).drop('Name_hash', axis=1)

,ID,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
5,5,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
6,5,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
7,5,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
8,5,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
9,5,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN

### Kolumner:

In [3]:
olympics.columns

Index(['ID', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year',
       'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes',
       'Name_hash'],
      dtype='object')

### Antal och förkortade länder:

Antal:

In [4]:
olympics['region'].unique().size

206

Förkortade länder:

In [5]:
olympics['NOC'].unique()

array(['CHN', 'DEN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'EST', 'FRA',
       'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD',
       'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'FRG', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'ISV',
       'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'UKR', 'GBR', 'GHA', 'SOM',
       'LAT', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO',
       'CRO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'BAN',
       'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY',
       'TCH', 'LUX', 'MTN', 'CZE', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM',
       'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM',
       'AHO', 'ISL', 'ASA', 'SAM', 'RWA', 'DMA', 'HAI', 'MLT', 'CYP',
       'GUI', 'BIZ', 'YMD', 'KOR', 'THA', 'BER', 'ANZ', 'SCG', 'SLE',
       'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'YUG', 'BAH',
       'GUA', 'SRB', 'IVB', 'MOZ', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM',
       'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO',
       'BOT', 'ROT', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CRT', 'GEQ',
       'BOL', 'SAA', 'AND', 'ANT', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'TGA',
       'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO',
       'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK',
       'TUV', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

### Vilka sporter?

In [6]:
olympics['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

### Vilka medaljer?

In [7]:
olympics['Medal'].unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

### Ålder, statistik:

In [8]:
olympics['Age'].describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

## befolkning vs atleter vs medaljer

read world population data:

In [21]:
world_population = pd.read_csv(
    Path.cwd() / "data" / "data_population_world.csv", index_col='country_name')
print(world_population['country_code'])
world_population.columns

country_name
ARUBA              ABW
NaN                AFE
AFGANISTÁN         AFG
NaN                AFW
ANGOLA             AGO
                  ...
KOSOVO             XKX
YEMEN, REP. DEL    YEM
SUDÁFRICA          ZAF
ZAMBIA             ZMB
ZIMBABWE           ZWE
Name: country_code, Length: 266, dtype: object

Index(['country_code', 'region', 'income_group', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

manipulate DataFrame to work with olympics, keep only relevant info:

In [11]:
world_population.index = world_population.index.str.lower().str.capitalize()
world_population.index.name = 'Team'

pop = world_population.drop(columns=[
    i for i in world_population.columns if i not in olympics['Year'].unique().astype(str)])

pop = pop.drop(index=[
    i for i in pop.index if i not in olympics['Team'].unique()])

pop.insert(0, 'Mean pop', pop.mean(axis=1).round(0))

pop.head()

,Mean pop,1960,1964,1968,1972,1976,1980,1984,1988,1992,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Team,,,,,,,,,,,,,,,,,,,,,
Aruba,79557.0,54608.0,58178.0,59471.0,58855.0,61193.0,62267.0,64174.0,64332.0,70192.0,...,84355.0,89101.0,91781.0,93540.0,95606.0,97996.0,100341.0,102112.0,103594.0,104874.0
Angola,14988268.0,5357195.0,5673199.0,5868203.0,6364731.0,7266780.0,8330047.0,9617702.0,11060261.0,12632507.0,...,15366864.0,16394062.0,17516139.0,18771125.0,20162340.0,21691522.0,23364185.0,25188292.0,27128337.0,29154746.0
Albania,2776296.0,1608800.0,1814135.0,2022272.0,2243126.0,2458526.0,2671997.0,2904429.0,3142336.0,3247039.0,...,3128530.0,3089027.0,3051010.0,3026939.0,2992547.0,2947314.0,2913021.0,2900401.0,2889104.0,2876101.0
Andorra,53490.0,9443.0,12690.0,17079.0,22832.0,29294.0,35611.0,42181.0,49654.0,57283.0,...,65186.0,66097.0,70849.0,76933.0,80221.0,76055.0,71519.0,71013.0,71621.0,72540.0
Argentina,33688495.0,20349744.0,21708487.0,23112971.0,24612794.0,26290257.0,28024803.0,29832197.0,31690792.0,33568285.0,...,36233195.0,37070774.0,37885028.0,38668796.0,39476851.0,40273769.0,40788453.0,41733271.0,42669500.0,43590368.0

Create df matching pop with number of medals / pop for each slot

In [63]:
olympics.loc[olympics['Team'] == 'Denmark', 'NOC']
[i for i in olympics['NOC'].unique() if i not in world_population['country_code'].unique()]

['DEN',
 'NED',
 'IRI',
 'BUL',
 'CHA',
 'SUD',
 'GRE',
 'URS',
 'NCA',
 'NGR',
 'ALG',
 'KUW',
 'UAR',
 'LIB',
 'MAS',
 'GER',
 'RSA',
 'TAN',
 'LBA',
 'PLE',
 'BRU',
 'KSA',
 'UAE',
 'YAR',
 'INA',
 'PHI',
 'EUN',
 'CGO',
 'SUI',
 'FRG',
 'GDR',
 'MON',
 'URU',
 'ISV',
 'SRI',
 'LAT',
 'NIG',
 'CRC',
 'SLO',
 'CRO',
 'POR',
 'PAR',
 'ANG',
 'BAN',
 'ESA',
 'PUR',
 'HON',
 'MRI',
 'SEY',
 'TCH',
 'MTN',
 'SKN',
 'VIN',
 'NEP',
 'MGL',
 'TOG',
 'AHO',
 'ASA',
 'SAM',
 'HAI',
 'GUI',
 'BIZ',
 'YMD',
 'BER',
 'ANZ',
 'SCG',
 'IOA',
 'OMA',
 'FIJ',
 'VAN',
 'YUG',
 'BAH',
 'GUA',
 'IVB',
 'MAD',
 'MAL',
 'CAY',
 'BAR',
 'GBS',
 'BOT',
 'ROT',
 'CAM',
 'SOL',
 'CRT',
 'GEQ',
 'SAA',
 'ANT',
 'ZIM',
 'GRN',
 'MYA',
 'MAW',
 'ZAM',
 'RHO',
 'TPE',
 'BOH',
 'TGA',
 'GAM',
 'COK',
 'WIF',
 'BUR',
 'NBO',
 'ARU',
 'VIE',
 'BHU',
 'UNK',
 'NFL',
 'KOS',
 'LES']