# Dataanalys av Norges OS-historia

### Läs in filen:

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from pathlib import Path

print("Reading file...")
olympics_csv = next(Path.cwd().parent.rglob("olympics_clean.csv"), None)

if olympics_csv:
    olympics = pd.read_csv(olympics_csv)
    print("file found.")
else:
    print("file not found.")

Reading file...
file found.

## Uppgift 0:

### Head:

In [19]:
olympics.head(10).drop('Name_hash', axis=1)

,ID,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
5,5,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
6,5,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
7,5,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN
8,5,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
9,5,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN

### Kolumner:

In [3]:
olympics.columns

Index(['ID', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year',
       'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes',
       'Name_hash'],
      dtype='object')

### Antal och förkortade länder:

Antal:

In [4]:
olympics['region'].unique().size

206

Förkortade länder:

In [5]:
olympics['NOC'].unique()

array(['CHN', 'DEN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'EST', 'FRA',
       'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD',
       'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'FRG', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'ISV',
       'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'UKR', 'GBR', 'GHA', 'SOM',
       'LAT', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO',
       'CRO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'BAN',
       'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY',
       'TCH', 'LUX', 'MTN', 'CZE', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM',
       'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM',
       'AHO', 'ISL', 'ASA', 'SAM', 'RWA', 'DMA', 'HAI', 'MLT', 'CYP',
       'GUI', 'BIZ', 'YMD', 'KOR', 'THA', 'BER', 'ANZ', 'SCG', 'SLE',
       'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'YUG', 'BAH',
       'GUA', 'SRB', 'IVB', 'MOZ', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM',
       'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO',
       'BOT', 'ROT', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CRT', 'GEQ',
       'BOL', 'SAA', 'AND', 'ANT', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'TGA',
       'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO',
       'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK',
       'TUV', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

### Vilka sporter?

In [6]:
olympics['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

### Vilka medaljer?

In [7]:
olympics['Medal'].unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

### Ålder, statistik:

In [8]:
olympics['Age'].describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

## befolkning vs atleter vs medaljer

read world population data:

In [21]:
world_population = pd.read_csv(
    Path.cwd() / "data" / "data_population_world.csv", index_col='country_name')
print(world_population['country_code'])
world_population.columns

country_name
ARUBA              ABW
NaN                AFE
AFGANISTÁN         AFG
NaN                AFW
ANGOLA             AGO
                  ...
KOSOVO             XKX
YEMEN, REP. DEL    YEM
SUDÁFRICA          ZAF
ZAMBIA             ZMB
ZIMBABWE           ZWE
Name: country_code, Length: 266, dtype: object

Index(['country_code', 'region', 'income_group', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

manipulate DataFrame to work with olympics, keep only relevant info:

In [11]:
world_population.index = world_population.index.str.lower().str.capitalize()
world_population.index.name = 'Team'

pop = world_population.drop(columns=[
    i for i in world_population.columns if i not in olympics['Year'].unique().astype(str)])

pop = pop.drop(index=[
    i for i in pop.index if i not in olympics['Team'].unique()])

pop.insert(0, 'Mean pop', pop.mean(axis=1).round(0))

pop.head()

,Mean pop,1960,1964,1968,1972,1976,1980,1984,1988,1992,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
Team,,,,,,,,,,,,,,,,,,,,,
Aruba,79557.0,54608.0,58178.0,59471.0,58855.0,61193.0,62267.0,64174.0,64332.0,70192.0,...,84355.0,89101.0,91781.0,93540.0,95606.0,97996.0,100341.0,102112.0,103594.0,104874.0
Angola,14988268.0,5357195.0,5673199.0,5868203.0,6364731.0,7266780.0,8330047.0,9617702.0,11060261.0,12632507.0,...,15366864.0,16394062.0,17516139.0,18771125.0,20162340.0,21691522.0,23364185.0,25188292.0,27128337.0,29154746.0
Albania,2776296.0,1608800.0,1814135.0,2022272.0,2243126.0,2458526.0,2671997.0,2904429.0,3142336.0,3247039.0,...,3128530.0,3089027.0,3051010.0,3026939.0,2992547.0,2947314.0,2913021.0,2900401.0,2889104.0,2876101.0
Andorra,53490.0,9443.0,12690.0,17079.0,22832.0,29294.0,35611.0,42181.0,49654.0,57283.0,...,65186.0,66097.0,70849.0,76933.0,80221.0,76055.0,71519.0,71013.0,71621.0,72540.0
Argentina,33688495.0,20349744.0,21708487.0,23112971.0,24612794.0,26290257.0,28024803.0,29832197.0,31690792.0,33568285.0,...,36233195.0,37070774.0,37885028.0,38668796.0,39476851.0,40273769.0,40788453.0,41733271.0,42669500.0,43590368.0

Create df matching pop with number of medals / pop for each slot

In [33]:
olympics.loc[olympics['Team'] == 'Denmark', 'NOC']
olympics['NOC'].unique()
[i for i in olympics['Team'].unique() if i not in pop.index]

['Denmark',
 'Denmark/Sweden',
 'Netherlands',
 'United States',
 'Finland',
 'Norway',
 'Romania',
 'France',
 'Taifun',
 'Morocco',
 'Spain',
 'Egypt',
 'Iran',
 'Italy',
 'Azerbaijan',
 'Sudan',
 'Russia',
 'Belarus',
 'Greece',
 'Cameroon',
 'Turkey',
 'Mexico',
 'Soviet Union',
 'Hungary',
 'Algeria',
 'Bahrain',
 'Pakistan',
 'United Arab Republic',
 'Lebanon',
 'Malaysia',
 'Germany',
 'Thessalonki-1',
 'Canada',
 'Ireland',
 'South Africa',
 'Tanzania',
 'Jordan',
 'Tunisia',
 'Libya',
 'Belgium',
 'Palestine',
 'Comoros',
 'Kazakhstan',
 'Brunei',
 'Saudi Arabia',
 'Syria',
 'Maldives',
 'Ethiopia',
 'United Arab Emirates',
 'North Yemen',
 'Philippines',
 'Singapore',
 'Uzbekistan',
 'Kyrgyzstan',
 'Tajikistan',
 'Unified Team',
 'Japan',
 'Japan-1',
 'Congo (Brazzaville)',
 'Switzerland',
 'Brazil',
 'West Germany',
 'East Germany',
 'Monaco',
 'Fornebo',
 'Vesper Boat Club',
 'Sweden',
 'United States Virgin Islands',
 'Sri Lanka',
 "Cote d'Ivoire",
 'France-1',
 'Ukraine',
 'Great Britain',
 'Latvia',
 'Niger',
 'Mali',
 'Afghanistan',
 'Poland',
 'Costa Rica',
 'Panama',
 'Slovenia',
 'Croatia',
 'Russia-2',
 'Russia-1',
 'New Zealand',
 'Peru',
 'El Salvador',
 'Puerto Rico',
 'France-2',
 'Switzerland-2',
 'Switzerland-1',
 'Turkmenistan',
 'Mauritius',
 'Czechoslovakia',
 'Great Britain-1',
 'Luxembourg',
 'Czech Republic',
 'Saint Kitts and Nevis',
 'New York Athletic Club #2-4',
 'Trinidad and Tobago',
 'Dominican Republic',
 'Saint Vincent and the Grenadines',
 'Mystery',
 'Nigeria-2',
 'Germany-2',
 'Clementine V',
 'Bylina-2',
 'Lithuania',
 'Netherlands Antilles',
 'Iceland',
 'American Samoa',
 'Great Britain-2',
 'Haiti',
 'Stella-2',
 'United States-1',
 'United States-2',
 'Argentina-2',
 'Large boat, Central Naval Prep School "Poros"-1',
 'Cyprus',
 'Xolotl',
 'Belize',
 'Matrero II',
 'Blue Red',
 'Gteborgs Roddklubb-1',
 'Indonesia-1',
 'Germany-1',
 'South Yemen',
 'South Korea',
 'Lucky Girl-1',
 'Mutafo',
 'Sweden-2',
 'Sweden-1',
 'Thailand',
 'Italy-2',
 'Yeoman VII',
 'Yeoman XII',
 'Bermuda',
 'Australasia',
 'Union des Socits Franais de Sports Athletiques',
 'Serbia and Montenegro',
 'Sierra Leone',
 'Bissbi',
 'Papua New Guinea',
 'Greece-3',
 'Yemen',
 'Individual Olympic Athletes',
 'Oman',
 'France-3',
 'Martha-27',
 'Martha-1',
 'Moldova',
 'Canada-2',
 'Canada-1',
 'Yugoslavia',
 'Burevestnik',
 'Druzhba',
 'Soviet Union-2',
 'Soviet Union-1',
 'Olen',
 'British Virgin Islands',
 'Heatherbell',
 'Central African Republic',
 'Malaya',
 'Socit Nautique de Bayonne',
 'Bosnia and Herzegovina',
 'Brazil-1',
 'Cayman Islands',
 'Cupidon Viking',
 'Damoiselle',
 'Slovakia',
 'USFSA',
 'The Cloud',
 'Galerna',
 'Heira II',
 'Nykjbings paa Falster',
 'Ireland-2',
 'Spain-2',
 'Guinea Bissau',
 'Mohawk Indians-2',
 'Tornado',
 'Elsie',
 'Roma',
 'Tajamar',
 'Spain-1',
 'Lemzos Thorichton "Spetsai"-4',
 'Norway-2',
 'Norway-1',
 'Italy-1',
 'Puerto Rico-2',
 'Mound City Rowing Club-2',
 'Timor Leste',
 'Amolgavar',
 'Congo (Kinshasa)',
 'Gabon',
 'Ali-Baba II',
 'May Be VII',
 'East Germany-1',
 'San Marino',
 'Favorite Hammonia-3',
 'Laos',
 'Refugee Olympic Athletes',
 'Frankfurt Club',
 'Lett',
 'GyoshuII',
 'North Korea',
 'South Korea-2',
 'Brazil-2',
 'Solomon Islands',
 'Dolfijn',
 'Cape Verde',
 'Tip',
 'Yugoslavia-1',
 'rn-2',
 'Crete',
 'Breslau',
 'Germany-3',
 'Romania-2',
 'Club Nautique de Dieppe-5',
 'Norna',
 'Fram',
 'Magda IX',
 'Soviet Union-3',
 'Equatorial Guinea',
 'Saar',
 'Japan-2',
 'Austria-1',
 'Austria-2',
 'Antigua and Barbuda',
 'EA II',
 'Canada-3',
 'Czechoslovakia-3',
 'Linglom',
 'Denmark-2',
 'Mosk II',
 'Latvia-2',
 'Elisabeth X',
 'Sweden-3',
 'Ludwigshafener Ruderverein',
 'Australia-2',
 'Latvia-1',
 'Guyoni',
 'Greece-1',
 'Greece-2',
 'West Germany-2',
 'La Salle Turnverein, Chicago',
 'Gallant',
 'Grenada',
 'Hera-1',
 'Swedish Star',
 'Bulgaria-1',
 'Nautikos Omilos-3',
 'Wolseley-Siddeley-1',
 'Hong Kong',
 'Ciocca II',
 'Mirtala',
 'Saint Lucia',
 'Carabinier-5',
 'Pettit-Poucet-6',
 'Carabinier-15',
 'Federated States of Micronesia',
 'Hirondelle',
 'Kerstin-1',
 'Evita VI',
 'Ukraine-2',
 'Russia-3',
 'Belarus-1',
 'United States-3',
 'Bronia',
 'Denmark-1',
 'Bluebottle',
 'West Germany-1',
 'Rhodesia',
 'East Germany-2',
 'Snap',
 'Chinese Taipei-1',
 'Sao Tome and Principe',
 'Toronto Argonauts',
 'England-1',
 'Hungaria Evezos Egylet',
 'Poland-1',
 'Macedonia',
 'Bohemia',
 'Argonaut Rowing Club',
 'Life boat naval ship "Spetsai"-1',
 'Australia-1',
 'Nigeria-1',
 'Fortuna',
 'Starlight III',
 'Pan',
 'Leander Club-2',
 'Lemzos Thorichton "Psara"-3',
 'London City Police-1',
 'Great Britain-3',
 'Sabre',
 'Firebird II',
 'Berliner Ruderverein von 1876-2',
 "Christian Brothers' College-1",
 'Czechoslovakia-1',
 'Czechoslovakia-2',
 'Passaic Turnverein, Passaic',
 'Primorka',
 'Racing Club de France',
 'Grifo III',
 'Grifo IV',
 'Bingo',
 'Damoiselle IV',
 'Crabe II-12',
 'Nina Claire-30',
 'Crabe II-1',
 'Crabe II-4',
 'Nina Claire-2',
 "Qu'Importe",
 'Konstanz',
 'Suzy-2',
 'Mouchette-2',
 'Dansk Idrts Forbund',
 'Marmara',
 'Moseley Wanderers',
 'Chicago Athletic Association-2',
 'Devon and Somerset Wanderers',
 'Unified Team-2',
 'Mistral Hojris',
 'Cook Islands',
 'Mauritius-2',
 'Romania-1',
 'Pampero',
 'Israel-2',
 'Symphony',
 'Sjhxa',
 'Faneca',
 'Ciocca III',
 'Marinai della nave da guerra "Varese"',
 'Lalage',
 'Gallia II',
 'Dinah V',
 'Czech Republic-2',
 'Nora',
 'Monica',
 'Kullan',
 'Shoveller',
 'Amateur Athletic Association',
 'Circus',
 'Aletta',
 'Widgeon',
 'Inca',
 'Czech Republic-1',
 'Relampago',
 'Foxhunters Hurlingham',
 'Thames Rowing Club',
 'Davenport Turngemeinde, Davenport',
 'Norwegier Turnverein, Brooklyn',
 'Erna Signe',
 'Sirene',
 'Socit Nautique de Bayonne-2',
 'Socit Nautique de Bayonne-1',
 'Anitra',
 'Snude',
 'White Lady',
 'Web II',
 'Web III',
 'Italy-3',
 'Pistoja/Firenze',
 'West Indies Federation',
 'Posillipo III',
 'Tritons Lillois-2',
 'Turnverein Vorwrts, Cleveland',
 'Club Nautique de Franais-1',
 'Monaco-1',
 'Boreas-2',
 'Peri',
 'New York Turnverein, New York',
 'Tichiboo',
 'Siames-Cat',
 'Swaziland',
 'India-1',
 'Ausonia',
 'Angelita',
 'Burkina Faso',
 'Nortazo',
 'Tom Kyle',
 'Tilly',
 'Esterel-1',
 'North Borneo',
 'Wiking',
 'Buraddoo',
 'Heroine',
 'Chok',
 'Atlanta',
 'Germania II',
 'Wannsee',
 'Polyteknisk Roklub-1',
 'Buscape II',
 'Nina',
 'Norway-3',
 'Kristiania Roklub-1',
 'Kristiania Roklub',
 'Ormsund Roklub-2',
 'Chuckles',
 'South Africa-2',
 'Chinese Taipei',
 'Winnipeg Shamrocks-1',
 'Olle',
 'United States-10',
 'Camelia',
 'Aschenbrodel',
 'Whitini Star',
 'Puerto Rico-1',
 'Bera',
 'Netherlands-2',
 'Slaghoken',
 'Slaghoken II',
 'Great Britain/Germany',
 'Nikh',
 'Swift',
 'Andorinha',
 'Unified Team-1',
 'Cupidon III',
 'Athens-2',
 'Bulgaria-2',
 'Marga-2',
 'Serendipity',
 "L'Aile VI",
 "Cercle de l'Aviron Roubaix-4",
 'Caprice',
 'New College, Oxford-2',
 'Compigne Polo Club',
 'Vision',
 'Cambridge University Boat Club-2',
 'Trickson VI',
 'St. Rose-2',
 'Calcinhas',
 'Gteborgs Roddfrening-2',
 'Minerva Amsterdam',
 'Chamukina',
 'Nausikaa 4',
 'New York Athletic Club-1',
 'Arcturus',
 'Belgium-1',
 'St. Louis Southwest Turnverein #1-2',
 'Jo',
 'Lucky Star',
 'Namoussa',
 'Briar',
 'Panhellenios Gymnastikos Syllogos-1',
 'Netherlands-1',
 'Gabbiano',
 'Gran Gesto',
 'Ceres II',
 'Covunco III',
 'Chicago Archers',
 'Royal Club Nautique de Gand',
 'Roddklubben af 1912-1',
 'Roddklubben af 1912-2',
 'Bucintoro Venezia-1',
 'Bucintoro Venezia',
 'Edelweiss II-1',
 'Bamba',
 'Rush IV',
 'Boston Archers',
 'Ali-Baba IV',
 'Ali-Baba VI',
 'Ali-Baba IX',
 'Upton Park FC',
 'BLO Polo Club, Rugby',
 'Hurlingham-2',
 'Leander Club-1',
 'Indonesia-2',
 'Western Rowing Club-3',
 'Pigoule',
 'South Vietnam',
 'Snowten III',
 'Hungaria',
 'Libellule de Paris',
 'Scram',
 'United States Virgin Islands-2',
 'United States Virgin Islands-1',
 'Amstel Amsterdam',
 'Scotland-3',
 'Peri II',
 'Liverpool Police Team-2',
 'Vinha',
 'Fantasio III',
 'Pousse-Moi Pas VII',
 'Norwegian Rowing Association',
 'LaBandera',
 'Gilliatt V',
 'United States Golf Association-3',
 'Trans-Mississippi Golf Association-2',
 'China-2',
 'China-1',
 'Sarcelle-35',
 'Sarcelle-3',
 'Tango',
 'Argentina-1',
 'Brynhild-2',
 'Espuma del Mar',
 'Twins II',
 'Pupilles de Neptune de Lille #2-1',
 'Beaver',
 'Monaco-2',
 'Baccara',
 'Cobweb-1',
 'Ral-Club Barcelona',
 'Vietnam',
 'Elvis Va',
 'Romolo',
 'Aldebaran II',
 'Aldebaran',
 'Argus',
 'Galatea II',
 'Twins VIII',
 'Antwerpia V',
 'Lotta IV',
 'Saga-2',
 'Mari',
 'Paula',
 'Oranje',
 'Willem-Six',
 'DeRuyter',
 'Acturus',
 'Societ Nautique de la Marne',
 'Mexico-2',
 'Teresita',
 'Barion/Bari-2',
 'Eissero VI',
 'New York Athletic Club-4',
 'K Division Metropolitan Police Team-3',
 'Israel-1',
 'Hong Kong-1',
 'Malaysia-1',
 'Cambodia',
 'Complex II',
 'Allegro',
 'Gam II',
 'Ylliam VIII',
 'Quand-Mme-33',
 'Quand-Mme-2',
 'United States-9',
 'Berliner Ruderclub Sport-Borussia-1',
 'Smyrna',
 'Chinese Taipei-2',
 'Calimucho',
 'Bhutan',
 'North Korea-1',
 'Malaysia-2',
 'Kingfisher',
 'Yangon',
 'Gustel V',
 'Sonja II',
 'Jill',
 'Kiel',
 'KNS',
 'Galt Football Club',
 'Tim-Tam III',
 'Uragan',
 'Kon-Tiki',
 'Babe',
 'Poland-2',
 'Antares',
 'Venilia',
 'Hatuey',
 'Mauritius-1',
 'Cincinnati Archers',
 'Morena',
 'Libellule de Paris-3',
 'Societ Nautique de la Marne-3',
 'Osborne Swimming Club, Manchester',
 'Brussels Swimming and Water Polo Club',
 'Ancora',
 'Saskia',
 'Wales-4',
 'SagaII',
 'Gem',
 'June Climene',
 'Cambria',
 'Oleander XII',
 'Phoenix',
 'Ylliam VII',
 'Ballerina IV',
 'Chicago Athletic Association',
 'Calypse II',
 'Scotland',
 'Scotland-2',
 'Ciocca',
 'Esperia',
 'Tournade-40',
 'Tornade-16',
 'Galejan',
 'Great Britain-4',
 'Cuba-1',
 'Marshall Islands',
 'United States-6',
 'Santa Maria',
 'Dormy-1',
 'Umberta V',
 'Rozenn-3',
 'Jest',
 'Magdalen College Boat Club-1',
 'Western Golf Association-1',
 'Scotia',
 'Red Dragon',
 'R.-V. Germania, Leitmeritz',
 'Hungary-1',
 'Akatonbo',
 'Terrible',
 'Elisabeth V',
 'Studenternes Roklub-2',
 'Rififi',
 'New York Athletic Club #1-1',
 'Partenope',
 'Bermudes',
 'England',
 'Cornwall',
 'United States-7',
 'Diablo',
 'Plume-patte-32',
 'Plume-Patte-5',
 'Pierre et Jean-3',
 'Pierre et Jean-4',
 'Espadarte',
 'Fruits',
 'Belgium-2',
 'Sidi Fekkar-36',
 'Sidi-Fekkar-14',
 'Souvenance',
 'Meteor',
 'Kurush IV',
 'Vesania',
 'Kurush II',
 'Canopus',
 'Crabe I-11',
 'Crabe I-3',
 'Crabe I-2',
 'Gwendoline-22',
 'Gwendoline-2',
 'United States/France',
 'Vicking',
 'Daisy',
 'Virginie',
 'Acipactli',
 'Belgium-4',
 'Pegaso',
 'Girl Pat',
 'Fada',
 'Bu III',
 'Lerina',
 'Bagatelle Polo Club, Paris',
 'Bem II',
 'St. Margrite',
 'Hollandia',
 'Aphrodite',
 'Bonzo',
 'Socit Nautique de la Basse Seine-1',
 'Socit Nautique de la Basse Seine-2',
 'Univ. of Brussels',
 'Concordia Turnverein, St Louis',
 'Rowing Club Castillon-3',
 'Frip IV',
 'Mad Dog',
 'Hb-24',
 'Hb-20',
 'South St Louis Turnverein, St Louis',
 'Century Boat Club-1',
 'Unique',
 'Pan-Hellenic Athletic Club',
 'Phalainis ton Thorichtou "Hydra"-2',
 'Viking',
 'Silja',
 'Bermudian',
 'Dresden',
 'United States/Great Britain',
 'Mignon-29',
 'Mignon-3',
 'Favorite-17',
 'Favorite-1',
 'St. Louis Amateur Athletic Association',
 'Naiad',
 'Pakaria',
 'Ireland-3',
 'Serbia-2',
 'United States-14',
 'Oxalis',
 'Gitana-21',
 'Gitana-2',
 'Joy',
 'Thalatta',
 'Trintel II',
 'Central Turnverein, Chicago',
 'Galopin-20',
 'Galopin-9',
 'France-4',
 'Berliner Ruderclub',
 'Rhythm',
 'Turnverein Vorwrts, Chicago',
 'Guanahani',
 'Unknown',
 'Spirit III',
 'Pannonia RC/National RC',
 'Bella',
 'May-Be 1960',
 'May Be',
 'Inga-Lill XXXXIII',
 'Mexico-1',
 'Nirwana',
 'Omilos Ereton Peiraios-2',
 'Llanoria',
 'Marmi II-1',
 'Kitty-1',
 'Vaxholm Roddklubb',
 'A North American Team',
 'Nirefs',
 'Proteus II',
 'Finn II',
 'Impala',
 'Missouri Athletic Club-3',
 'Pam',
 'Oleander II',
 'Apache',
 'Roklubb Kbnhavn-2',
 'Tu-Fri',
 'Tutti V',
 'Cha-Cha III',
 'Augsburg',
 'Leander Club #2-2',
 'Ariel',
 'Encore',
 'Feo',
 'Seawanhaka Boat Club-1',
 'Gem II',
 'Gem III',
 'Gem IV',
 'Gem VII',
 'Pupilles de Neptune de Lille #1-3',
 'Chaje II',
 'Ludwigshafener Ruder Verein-1',
 'Leander Club #1-1',
 'Dylan-2',
 'Moorina',
 '30. Februar',
 'Cercle Nautique de Reims-4',
 'Cuba-2',
 'Struten',
 'Gyrinus-1',
 'Ylliam II',
 'East Germany-3',
 'Paka V',
 'Brigantia',
 'Sydney Rowing Club',
 'Espardate',
 'Australia/Great Britain',
 'Kannibaltje',
 'Milwaukee Athletic Club-1',
 'Xantippa',
 'Skum',
 'Miss Denmark 1964',
 'Kemphaan',
 'Helsingfors R. K.',
 'Newfoundland',
 'Emily',
 'Fram III',
 'Mizar',
 'Ubu',
 'St. Louis Southwest Turnverein #2-3',
 'Socialer Turnverein, Detroit',
 'Bohemia-1',
 'Essen',
 'Miss Nippon V',
 'Argeste',
 'Gullvinge',
 'United States-4',
 'South Korea-1',
 'Bajazzo',
 'Cinara-13',
 'Ilderim',
 'Tantalus',
 'Peiraikos Syndesmos-2',
 'Baby-9',
 'Baby-1',
 'Femur-18',
 'Femur-1',
 'Colette-10',
 'Colette-12',
 'Germany/United States',
 'Germania Ruder Club, Hamburg',
 'Freddy',
 'Rika II',
 'Korshun',
 'Hungary-2',
 'Patricia',
 'Tlaloc',
 'Springbok',
 'Aretusa',
 'Quicksilver-2',
 'Viktoriya',
 'Germania Ruder Club, Hamburg-2',
 'Omilos Ereton Smyrnis',
 'Belarus-2',
 'Alcaid',
 'Finland-1',
 'Finland-2',
 'Alain IV',
 'Jupiter',
 'Three Leaves',
 'Philadelphia Turngemeinde, Philadelphia',
 'K.S.S.S. 1912-2',
 'Unified Team-3',
 'Paka',
 'Sheerio',
 'Pan II',
 'Pasodoble',
 'Freja',
 'India-2',
 'Sass-2',
 'Roy',
 'Ukraine-1',
 'Deutscher Schwimm Verband Berlin',
 'Jet',
 'Belgium-3',
 'Shrew II',
 'Sylvia',
 'Salamander',
 'Denmark-3',
 'Ingegerd',
 'Slovakia-2',
 'Johan',
 'Jamaica-2',
 'Andromeda',
 'Hornet',
 'South Sudan',
 'Sweden-4',
 'Chance',
 'Brat',
 'Yeoman V',
 'Knigsberg',
 'Don Schufro',
 'Vinga-1',
 'Aloha II',
 'Raili',
 'Syndi',
 'Vento Sul',
 'Sans Atout-1',
 'Miss Nippon IV',
 'New Zealand-1',
 'Tramontane',
 'Sandra',
 'Milwaukee Turnverein, Milwaukee',
 'Nurdug II',
 'Eleda',
 'Lbeck',
 'Yeoman',
 'Boer Team',
 'Beatrijs III-1',
 'Lancet',
 'West Germany-3',
 'Ravenswood Boat Club-2',
 'Whisper',
 'Irene',
 'Balaton',
 'Kuling',
 'Sif',
 'Djinn',
 'Mascotte',
 'Bona Fide',
 'Laurea-1',
 'Skidoo',
 'Tomahawk II',
 'Whirlaway',
 'Sorais-2',
 'Minotaur',
 'United States-5',
 'Surprise',
 'Zut',
 'Tan-Fe-Pah',
 'Ciss',
 'Australia-3',
 'Bohemia-3',
 'Boreas',
 'MitaII',
 'Escapade',
 'Slovakia-1',
 'Ralia',
 'Clearwater',
 'Angerburg',
 'Singapore-2',
 'United States-8',
 'Barco Deloro',
 'Dick-8',
 'Yugoslavia-2',
 'Kalayaan',
 'Bohemia-2',
 'Olimpia',
 'Macky VI',
 'Nrnberg',
 'Nephos I',
 'Tengiri',
 'Hayama',
 'Rush VII',
 'Rush V',
 'Ethnikos Gymnastikos Syllogos',
 'John B',
 'Bim',
 'Bonaparte',
 'North Korea-2',
 'Mythilus',
 'Rambo',
 'Floresco',
 'Hong Kong-2',
 'Luxembourg-2',
 'Lucky',
 'Spirit VI',
 'Lully II',
 'Sildra-1',
 'Noreg',
 'Subbnboana',
 'Phalainis ton Thorichtou "Psara"-3',
 'Slovenia-1',
 'Rostock',
 'Norman-1',
 'Olympion',
 'Sunshine',
 'Heidelberg',
 'Amulet-7',
 'Amulet-3',
 'Omas Helliniki P. S.',
 'Crocodile-13',
 'Crocodile-11',
 'Leipzig',
 'Red Indian',
 'Alcyon-6',
 'Alcyon-7',
 'Suzon IV-39',
 'Suzon IV-5',
 'Mascaret-28',
 'Mascaret-4',
 'Poland-3',
 'Sibindi-2',
 'Pupilles de Neptune de Lille-1',
 'Combine',
 'Stade Franais AC-2',
 'Kathleen',
 'Club Nautique de Lyon-2',
 'Holland',
 'Starita',
 'United States-12',
 'Argo II',
 'State VI',
 'Frimousse',
 'Denmark-4',
 'Portugal-2',
 'France/Great Britain',
 'Gyp-23',
 'Gyp-6',
 'Zefyros',
 'Pirouette-31',
 'Pirouette-5',
 'Societ Nautique de la Marne-1',
 'Mebi',
 'Slovenia-2',
 'Riccar',
 'Japan-3',
 'Lynn',
 'Neptun II',
 'Potomac Archers',
 'Ireland-1',
 'Brentina',
 'Nan-2',
 'Hannover',
 'Scamasaxe-34',
 'Scamasaxe-2',
 'Scamasaxe-3',
 'Three Star Too',
 'Bellatrix IX',
 'Bellatrix XIII',
 'Jeanette-25',
 'Jeannette-18',
 'Turquoise-1',
 'Turquoise-3',
 'Roehampton-1',
 'Glisten',
 'Nadine',
 'Grifone',
 'Twinkle',
 'Myojo',
 'Ducky-16',
 'Ducky-4',
 'Rose Pompon',
 'Souriceau-38',
 'Souriceau-4',
 'United States-11',
 'Lady C',
 'Frieda',
 'Marsouin-26',
 'Marsouin-8',
 'Persey',
 'Hi-Hi',
 'Atalanta Boat Club-1',
 'Atalanta Boat Club-2',
 'Wendehals',
 'New York Athletic Club',
 'Titia',
 ...]